h1{
	color: #000000;
	font-size: 50px;
	text-align: center;
}

h2{
	color: #C8C8C8;
	font-size: 12px;
	text-align: center;
}

p{
	color:#000000;
	font-size: 16px;
	text-align: center;
}

form{
	text-align: center;

}

div{
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #0A519E;
}
